streamlit~=1.54.0
cloudscraper~=1.2.71
beautifulsoup4~=4.14.2
lxml
psycopg2-binary~=2.9.11
pandas~=2.3.3
numpy~=2.3.4
unidecode~=1.4.0
streamlit-autorefresh
scikit-learn~=1.7.2
xgboost~=3.1.1
catboost~=1.2.8

psycopg2~=2.9.11
curl_cffi~=0.15.1b1
matplotlib~=3.10.7